.post-container {
  margin: 20px auto; /* Center the container horizontally */
  padding: 20px 0; /* Add padding to the top and bottom only */
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 80%; /* Set the width to 80% */
}

.post-container h1 {
  margin: 10px 40px; /* Add margin to the h1 element */
}

.post-container p {
  margin: 15px 40px; /* Add margin to the top and bottom */
}

.post-footer time {
  margin: 15px 40px; /* Add margin to the top and bottom */
  font-weight: bolder;
}

.alert {
  margin: 20px;
  padding: 10px;
  border-radius: 5px;
}

.alert-danger {
  background-color: #f8d7da;
  color: #721c24;
  border: 1px solid #f5c6cb;
}
